.sidebar
  padding-left: 34px
  padding-top: 18px
  overflow: hidden
  position: relative

.side-content
  overflow: hidden
  width: 100px

.side-wrap
  position: fixed
  overflow-y: scroll
  overflow-x: hidden
  height: 100%
  -ms-overflow-style: none  // IE 10+
  overflow: -moz-scrollbars-none  // Firefox
  &::-webkit-scrollbar
    display: none  // Safari and Chrome

.side-mnu
  padding-left: 35px
  li
    font-family: "gothamProBlack", sans-serif
    font-size: 20px
    text-transform: uppercase
    padding: 12px 0
    border-bottom: 1px solid #d2d2d2
    a
      +mt(.3s)
      &:hover
        color: $accent-green
    ul
      padding-left: 20px
      display: none
      li
        font-family: $default-font
        font-size: 16px
        text-transform: none
        border-bottom: none
